@tailwind base;
@tailwind components;

@import 'mixings';
//Montserrat, Unna, Open sans font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Open+Sans:ital,wght@0,300;0,700;1,300;1,400&family=Unna:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --rounded-box: 0;
}

header > div.fixed{
  z-index: 50;
}
.lang-list{
  @apply list-none flex flex-row gap-1 px-3 py-2;

}

.grid.home_hero{
  @apply h-screen-1/2 md:h-screen-110;
}
.product_show{
  border: solid;
  @apply border-gray-200;

  @include phone-down{
    & .products_grid .card.image-full
    {
      &::before{
        background-color: transparent;
        opacity: 1;
      }

      & > figure{
        overflow: hidden;
      }
    }

    & .products_grid .card{
      &:nth-child(2), &:nth-child(3){
        @apply h-40;
      }
    }
  }
  @include tablet-up
  {
    & .products_grid{
      grid-template-rows: repeat(7, minmax(0, 15vh));
      grid-template-columns: repeat(2, minmax(10rem, 40vw));

      & > div:nth-child(1){
        grid-area: 1 / 1 / 5 / 2;
      }
      &  > div:nth-child(2){
        grid-area: 2 / 2 / 4 / 3;
      }
      &  > div:nth-child(3){
        grid-area: 5 / 1 / 7 / 2;
      }
      & >  div:nth-child(4){
        grid-area: 4 / 2 / 8 / 3;
      }
      & .card.image-full
      {
        &::before{
          background-color: transparent;
          opacity: 1;
        }

        & > figure{
          overflow: hidden;
        }
      }


    }
  }

}

div.blocks-gallery-image{
    & .blocks-gallery-item{
      @apply max-h-96;
      &:nth-child(n+1){
        @apply translate-y-0;
      }
      &:nth-child(n+2){
        @apply translate-y-5;
      }
      &:nth-child(n+3){
        @apply translate-y-10;
      }

  }
}

.use-separator-line::after{
  @apply bg-accent mt-10 block h-1 w-10;
  content: " ";
}

@include phone-down{
  .hide-bg-image-on-sm{
    background-image: none !important;
  }
}
@tailwind utilities;